<% const Module = (map) => { %>
  <section class="ExComponent u-bg--offwhite u-p3 u-mb5">
    <h3 id="<%= map.link.id %>" class="ExComponent__title h6 u-w400"><%= map.link.title %></h3>
    <div class="ExComponent__contents">
      <%- map.html %>
    </div>
  </section>
<% } %>

<% const List = (map, section) => { %>
  <h4 class='h6'><%= section %></h4>
  <ul class="o-UIList o-UIList--dividers u-w400">
  <% maps.forEach((map) => { %>
    <% if (map.link.title !== null && map.link.chapter === section) { %>

      <li class='o-UIList__item small'>
        <a href="#<%= map.link.id %>" class="">
         <%= map.link.title %>
        </a>
      </li>

    <% } %>
  <% }) %>
  </ul>
<% } %>

<% const Section = (maps, title) => { %>
  <h4 class='h5'><%= title %></h4>
  <% maps.forEach((map) => { %>
    <% if (map.link.title !== null && map.link.chapter === title) { %>
      <%= Module(map) %>
    <% } %>
  <% }) %>
<% } %>

<% const ColorBlock = (palette) => { %>
  <div class="ExColorBox">
      <div class="ExColorBox__swatch" style="background-color: <%= palette.color %>">
      </div>
      <div class="ExColorBox__details u-center u-p1">
        <dt class='small'><%= palette.name %></dt>
        <code><%= palette.color %></code>
      </div>
  </div>
<% } %>

<!doctype html>
<html class="psg-theme" lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= projectName %></title>
    <style><%- outputCSS %></style>
    <style><%- codeStyle %><%- tmplStyle %></style>
  </head>
  <body>
    <div class="ExWrapper">
      <header class='ExHeader u-px2'>
        <div class='u-center'>
          <a href="" class="ExLogo u-mxa">
            <img class='u-inbl' title="Obsidian.css Logo" src="obsidian-logo@2x.png" />
          </a>
          <h1 class="ExTitle h6 u-w400"><%= projectName %></h1>
        </div>
        <nav class="ExNav">
          <h4>Settings</h4>
          <ul class="o-UIList o-UIList--dividers u-w400">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
              <li class='o-UIList__item small'>
                <a href="#color-palette" class="">Color Palette</a>
              </li>
            <% } %>
          </ul>
          <%= List(maps, 'Objects') %>
          <%= List(maps, 'Components') %>
        </nav>
      </header>


        <main class="ExMain u-px2">

          <div class="o-Container o-Container--center">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
              <section class="ExComponent u-bg--offwhite u-p3 u-mb5">
                  <h3 id="color-palette" class="ExComponent__title h6 u-w400">Color Palette</h3>
                  <div class="ExComponent__contents">
                    <dl class="psg-colorPalette">
                      <% colorPalette.forEach((palette) => ColorBlock(palette)) %>
                    </dl>
                  </div>
              </section>

            <% } %>
            <%- Section(maps, 'Objects') %>
            <%- Section(maps, 'Components') %>
          </div>
        </main>
      </div>
    <script></script>
  </body>
</html>
