<!-- Based on https://github.com/morishitter/psg-theme-default -->

<!doctype html>
<html class="psg-theme" lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= projectName %></title>
    <style><%- outputCSS %></style>
    <style><%- codeStyle %><%- tmplStyle %></style>
  </head>
  <body>
    <div class="ExWrapper">
      <header class='ExHeader u-px2'>
        <div class='u-center'>
          <a href="" class="ExLogo u-mxa">
            <img class='u-inbl' title="Obsidian.css Logo" src="obsidian-logo@2x.png" />
          </a>
          <h1 class="ExTitle h6 u-w400"><%= projectName %></h1>
        </div>
        <nav id="" class="ExNav">
          <ul class="o-UIList o-UIList--dividers">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>

            <li class='o-UIList__item small'>
              <a href="#color-palette" class="">Color Palette</a>
            </li>

            <% } %>
            <% maps.forEach((map) => { %>
              <% if (map.link.title !== null) { %>
                  <li class='o-UIList__item small'>
                    <a href="#<%= map.link.id %>" class=""><%= map.link.title %></a>
                  </li>
              <% } %>
            <% }) %>
          </ul>

        </nav>
      </header>


        <main id="" class="ExMain u-px2">

          <div class="psg-container">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
              <section class="ExComponent u-mb5">
                  <h3 id="color-palette" class="ExComponent__title h6">Color Palette</h3>
                  <div class="ExComponent__contents">
                    <dl class="psg-colorPalette">
                      <% colorPalette.forEach(function (palette) { %>
                      <div class="ExColorBox">
                          <div class="ExColorBox__swatch" style="background-color: <%= palette.color %>">
                          </div>
                          <div class="ExColorBox__details u-center u-p1">
                            <dt class='small'><%= palette.name %></dt>
                            <code><%= palette.color %></code>
                          </div>
                      </div>
                      <% }) %>
                    </dl>
                  </div>
              </section>
            <% } %>
            <% maps.forEach(function (map) { %>
                <section class="ExComponent u-mb5">
                  <span><%= map.link.chapter %></span>
                  <h3 id="<%= map.link.id %>" class="ExComponent__title h6"><%= map.link.title %></h3>
                  <div class="ExComponent__contents">
                    <%- map.html %>
                  </div>
                </section>
                <section class="ExCode psg-css-code psg-section">
                <% if (showCode) { %>
                    <!--
                    <pre class="psg-css-code-box">
                      <div>
                        <code class="lang-css"><%- map.rule %></code>
                      </div>
                    </pre>
                    -->
                <% } %>
              </section>
            <% }) %>
          </div>

        </main>
      </div>


    <script></script>
  </body>
</html>
